[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6-addons = "==6.4.0"
pyside6-essentials = "==6.4.0"
pyside6 = "==6.4.0"
shiboken6 = "==6.4.0"

[dev-packages]

[requires]
python_version = "3.10"
